{% extends 'EACalculator/base.html' %}


{% block title %}Effectively Altruistic Environmental Calculator{% endblock %}



{% block content %}
    <div class="myDiv">
    <h1 style="text-align: center">Effectively Altruistic Environmental Calculator</h1>
    <p style="text-align: center; margin: 0px 20px 0px 20px">
        Hello! Welcome to my effectively altruistic environmental 
        calculator. This website has been created to help those
        who want to help improve the environment, find ways to 
        do so. Below are multiple fields for you to enter some 
        personal information into. Your information will then be
        used to creagte a personalized list of things you can do to 
        to help the environment, given your specific circumstances.
    </p>
    </div>
{% endblock %}
